body {
}

#game {
    position: relative;
    border: 1px solid black;
    width: 674px;
    height: 576px;
}

.column {
    width: 110px;
    border: 1px solid yellow;
    float: left;
}

.cell {
    width: 100%;
    height: 80px;
    border: 1px solid red;
}

.cell.highlight {
    background: yellow;
}

#game.hover .cell:hover {
    background-color: #eee;
    cursor: pointer;
}

#game.hover .cell.filled:hover {
    background-color: #fff;
    cursor: initial;
}

#game .cell.p0:before,#game.hover.p0 .cell:hover:before {
    content: "🔴";
    font-size: 59px;
    position: relative;
    top: -2px;
    left: 13px;
}

#game .cell.p1:before,#game.p0 .cell.p1:before,#game.hover.p1 .cell:hover:before {
    content: "🔵";
    font-size: 59px;
    position: relative;
    top: -2px;
    left: 13px;
}

#winningScreen {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.6);
}

#winningScreen h1 {
    font-family: 'Notable', sans-serif;
}

#winningScreen .content {
    font-family: arial;
    position: absolute;
    top: 180px;
    left: 170px;
    width:400px;
    height:200px;
    background: rgba(255,255,255,0.9);
    text-align: center;
}

#winningScreen button {
    border-radius:5px;
    padding:5px;
    cursor:pointer;
    font-family: 'Notable', sans-serif;
}
#winningScreen button:hover {
    background: #ccc;
}